html,
body {
  width: 700px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
}

/*  */
header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: #222;
}

header h1 {
  color: #ddd;
  font-size: 20px;
  font-weight: 100;
}
header .xtras {
  flex: 1;
  color: #ddd;
}

/*  */
#log {
  display: flex;
  padding: 10px;
  background: #111;
  font-size: 12px;
  border-bottom: 1px dashed #444;
}
#log > p:nth-child(2) {
  flex: 1;
  color: yellow;
  font-weight: bold;
  font-size: 14px;
}

/*  */
footer {
  width: 100%;
  text-align: center;
  color: #ddd;
  background: #111;
}

/*  */
button {
  font-size: 12px;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
}

/*  */
#map {
  flex: 1;
}
